---
import Counter from '../components/Counter';
import Layout from '../layouts/Layout.astro';
import styles from './index.module.css';
---

<Layout>
	<main>
		<h1 class={styles.title}>Tinkertwist's Tales</h1>
		<Counter client:load />
	</main>
</Layout>
