* {
 	box-sizing: border-box;
 }

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}
astro-island {
  display: block;
  height: 100%;
}
body > header {
  font-family: 'Moon Dance', cursive;
  font-size: 11px;
  text-align: center;
  padding: 10px;
  background-color: #000;
  color: #fff;
  height: 50px;
}

body > header > h1 {
  margin: 0;
}

